body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background: #f8f8f8 0% 0% no-repeat padding-box;
}

#root {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container1 {
  display: flex;
  margin-left: -67px;
}

.container2 {
  padding-left: 20px;
  display: flex;
}

.yourShips {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 30px;
}
.yourShips h3 {
  font-size: 14px;
  font-weight: bold;
}

.yourShips div {
  border: 2px solid white;
  height: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.enemyShips {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 30px;
}
.enemyShips h3 {
  font-size: 14px;
  font-weight: bold;
}

.enemyShips div {
  border: 2px solid white;
  height: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.startBoard {
  display: flex;
  width: 100%;
  justify-content: center;
}
.boxBoard {
  width: 435px;
  height: 435px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 5px #00000012;
  border-radius: 20px;
}

.grid {
  width: 350px;
  height: 350px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.grid-square {
  width: 35px;
  height: 35px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;
}

.square-text {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font: normal normal normal 14px/19px Roboto;
  color: #777777;
}

header {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

header h1 {
  font: normal normal bold 24px/32px Roboto;
}

header h4{
  margin: 22px 0 6px 0;
  font: normal normal 400 16px/21px Roboto;
  color: #22D0B8;
}

footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: auto;
  width: 400px;
  margin-bottom: 20px;
}

.gameEnd {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 25px;
}

.mouse {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  text-align: left;
  font: normal normal normal 14px/19px Roboto;
  color: #777777;
}

.text_mouse {
  font-weight: bold;
  padding-right: 5px;
  padding-left: 5px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin: auto;
}

.button {
  margin: 30px 25px;
  width: 65px;
  height: 40px;
  border-radius: 5px;
  border: unset;
}
.button.start {
  background: #34C950 0% 0% no-repeat padding-box;
  color: white;
}
.button.reset {
  color: #34C950;
  background: transparent;
}

.playAgain {
  width: 100px;
  height: 40px;
  border-radius: 5px;
}
/* Grid coloring classes */

.active {
  background-color: #22D0B81A;
  border-color: #22D0B81A;
}

.occupied {
  background-color: #22D0B81A;
  border-color: #22D0B8;
}

.active-occupied {
  background-color: #FF494940;
  border-color: #FF494940;
}

.hit {
  background-color: rgba(250, 183, 183, 0.25);
  border-color: #FF4949;
}

.sunk {
  background-color: #FF494940;
  border-color: #FF4949;
}

.miss {
  background-color: #DDDDDD40;
}

/*------------------- */
